.speech {
    /*text-align: center;*/
    font : 'Times New Roman';
    font-size: 14px;
    color: black;
  }
  .name{
    font : 'sans';
    font-size: 17px;
    color: mediumvioletred;
  }
  .stage-direction{
    font : 'sans-serif';
    background-color: rgb(53, 147, 209);
    font-size: 17px;
    color: black;
  }
  .description {
    /*text-align: center;*/
    font : 'Times New Roman';
    font-size: 16px;
    color: black;
  }
  .stage-direction:hover{
    background-color: blue;
    color: red;
  }
  .Caroline{
    color: palegreen;
  }


.ladystuffield{
      color: mediumblue;
  }
.allonby{
    color: gold;
}
.ladyhunstain{
    color: red;
}
.ladyhunstain{
    color: plum;
}
table{
    border: 1px solid rgb(59, 24, 24);
    padding: 25px 30px 35px;
    margin: 50px 50px;
    width: 60%; 
  }
  
th{
    color:black;
    border: 1px mixed black;
    text-align: center;
    background-color: goldenrod
  }
td{
    color: black;
    border: 1px mixed black;
    text-align: left;
  }
tr{
    background-color: silver;
  }
  
  
  
  .name:hover {
    color: yellowgreen;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border: double 2px rgb(83, 29, 50);
    width:auto;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.navbar-horizontal li {
    float: left;
    color: #000;
    background-color: olivedrab;
    border: 2px solid black;
  }
  ul.navbar-horizontal a {
    display: block;
    padding: 30px;
  }
  ul.navbar-horizontal a:hover {
    background-color: mistyrose;
    color: white;
    width: auto;
  }