.speech {
    /*text-align: center;*/
    font : 'Times New Roman';
    font-size: 14px;
    color: black;
  }
  .stage-direction{
    font : 'sans-serif';
    background-color: rgb(53, 147, 209);
    font-size: 17px;
    color: black;
  }
  .description {
    /*text-align: center;*/
    font : 'Times New Roman';
    font-size: 16px;
    color: black;
  }
  .stage-direction:hover{
    background-color: blue;
    color: red;
  }
  .Caroline{
    color: palegreen;
  }


  .ladystuffield{
      color: mediumblue;
  }
.allonby{
    color: gold;
}
ladyhunstain{
    color: red;
}
ladyhunstain{
    color: plum;
}
table{
    border: 1px solid rgb(59, 24, 24);
    padding: 25px 30px 35px;
    margin: 50px 50px;
    width: 60%; 
  }
  th{
    color:black;
    border: 1px mixed black;
    text-align: center;
    background-color: goldenrod


  }
  td{
    color: black;
    border: 1px mixed black;
    text-align: left;
  }


  tr{
    background-color: silver;
  }
